.notification{
  z-index: 5;
  .notice {
    background-color: lightseagreen;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: orangered;
    color: #fff;
    text-align: center;
    margin: 0;
    border-radius: 0px;
  }
}