.notification{
  .notice {
    background-color: lightseagreen;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: orangered;
    color: #fff;
    text-align: center;
  }
}