* {
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'marugothic';
}

a, a:hover,a:visited, a:focus {
  text-decoration:none;
}

// ここから下はヘッダーの部分
.header{
  height: 80px;
  width: 100%;
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
}
.left-box{
  padding: 15px 10px;
  width: 250px;
  background-color: $main-backgroud;

  &__link{
  height: 50px;
  line-height: 80px;

  &--logo{
    width: 230px;
    padding: 0px 10px;
    padding-bottom: 25px;
  }
  }
}

.right-box{
  height: 80px;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  
  &__content{
    height: 80px;
    width: 100px;
    float: left;
    font-size: 16px;
    line-height: 80px;
    text-align: center;

    &--signup{
      text-decoration: none;
      color: $header-linkColor;
      transition: color 0.3s;

      &:hover{
        color: $cyan;
      }
    }

    &--signin{
      text-decoration: none;
      color: $header-linkColor;
      border: 2px solid $cyan;
      border-radius: 5px;
      padding: 11px 15px;
      transition: color 0.3s;

      &:hover{
        color: $cyan;
      }
    }
    &--logout{
      text-decoration: none;
      color: $header-linkColor;
      transition: color 0.3s;

      &:hover{
        color: $cyan;
      }
    }

    &--user-name{
      text-decoration: none;
      color: $header-linkColor;
      transition: color 0.3s;

      &:hover{
        color: $cyan;
      }
    }
  }
}



// ここから下はメイン部分

.main{
  flex: 1;
  background-color: #eee;
  position: relative;
}

// メインの常に表示する部分

.contents{
  display: flex;
  padding: 20px;
  width: 100%;
  height: 900px;
  display: flex;
  margin-bottom: 30px;
}

.introduction{
  height: auto;
  width: 100%;
  background-color: black;
}



// ここから下はフッター部分

.footer{
  height: 90px;
  width: 100%;
  background-color: $header-color;
  padding: 10px 15px;

  &__image{
    text-align: center;

    &--logo{
      width: 150px;
    }
  }

  &__under{
    height: 30px;
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    &__link{
      margin-right: 5px;
      color: $cyan;
    }

    a{
      text-decoration: none;
      font-size: 16px;
      color:$header-linkColor;
      transition: color 0.3s;

      &:hover{
        color: $cyan;
      }
    }
  }
}

.post-btn{
  color: $white;
  transition: color 0.3s;

  &__text{
    width: 150px;
    height: 150px;
    background: $header-color;
    text-align: center;
    border-radius: 50%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    }

  .post-icon{
    font-size: 70px;
    display: block;
    position: relative;
    margin-top: 6px;
  }

  :hover{
    background-color: #FFD700;
    transform:scale(1.04);
  }
}