$profile-textColor: #444;
$profile-leftColor: #00CCCC;

// showページのscss
.container{
  width: 800px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 2px 2px 6px gray;
  border-radius: 15px;
  margin-top: 30px;

  &__box{
    height: 100%;
    width: 100%;
    padding: 10px;
  }
}

.profile{
  height: 400px;
  width: 100%;
  padding: 20px;
  display: flex;

  &__left{
    height: 360px;
    width: 380px;
    margin-right: 20px;

    &__upper{
      height: 300px;
      width: 300px;
      margin: 0 auto;
      background-color: #fff;
      border: 10px solid $profile-leftColor;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }


    &__under{
      text-align: center;
      margin-top: 25px;

      &--edit{
      text-decoration: none;
      color: $profile-leftColor;
      border: 2px solid $profile-leftColor;
      border-radius: 30px;
      padding: 11px 15px;
      transition: color 0.3s;

      &:hover{
        background-color: $profile-leftColor;
        color: #fff;
      }
      }
    }
  }

  &__right{
    height: 360px;
    width: calc(100% - 380px);
    background-color: #fff;
    &__title{
      height: 52px;
      color: #FF0461;
      font-size: 40px;
      border-bottom: 2px solid #FF0461;
      margin: 10px 0px 2px;
      display: flex;
      align-items: center;

      &--icon{
        margin-right: 10px;
      }

      &--text{
        font-size: 20px;
        font-weight: bold;
      }
    }

    &__user-name{
      margin-top: 10px;
      font-size: 30px;
      color: $profile-textColor;
    }

    &__introduction{
      margin-left: 10px;
      height: auto;
      color: $profile-textColor;
      font-size: 15px;
      
      p{
        word-break: break-all;
      }
    }

    &__url{
      font-size: 14px;
      margin: 10px 0px;

      &--link{
        color: $profile-leftColor;
        text-decoration: none;
        transition: color 0.2s;

      &:hover{
        color: #0000FF;
      }
      }

      &--none{
        display: inline-block;
        color: $profile-textColor;
      }
    }

    &__tags{
      font-size: 12px;
      color: $profile-textColor;
      text-align: 24px;
      height: 55px;

      &--icon{
        margin: 5px 5px 0px 0px;
        float: left;
        height: 56px;
      }

      &--name{
        margin-right: 5px;
        background-color: #FF0461;
        border: 2px solid #FF0461;
        color: #fff;
        border-radius: 30px;
        padding: 0px 10px;
        float: left;
        margin-bottom: 5px;
      }
    }
  }
}

// タブの作成

.tabs {
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid $profile-leftColor;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  letter-spacing: 2px;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
}
.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 10px 10px 0;
  clear: both;
  overflow: hidden;
}

#mylog:checked ~ #mypost,
#watch:checked ~ #watch_content {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: $profile-leftColor;
  color: #fff;
}

// 自分の投稿一覧

.PostBlock{
  width: 100%;
  height: auto;
}

.PostLink{
  height: auto;
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.PostTable{
  display: flex;

    &__left{
      width: 110px;
    }

    &__right{
      width: calc(100% - 110px);
      position: relative;

      &__upper{
        display: flex;
        justify-content: space-between;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;

        &--name{
          font-size: 14px;
          border-bottom: 3px solid $profile-leftColor;
          padding: 2px 5px;
          color: $profile-leftColor;
        }
        &--date{
          font-size: 12px;
          color: #565656;
        }
      }

      &--text{
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
      }

      .PostImage{
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: #000;
        font-size: 30px;
        opacity: 0.3;
      }
    }
  }


