.posts-table{
  height: 860px;
  width: 80%;
  background-color: #fff;
  border-radius: 15px;
  margin-right: 20px;
  box-shadow: 2px 2px 6px gray;
  padding: 20px;
  overflow: scroll;
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;

  &__container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }
}

.post{
  height: 250px;
  width: 280px;
  margin: 0 15px 15px 0;
  background-color: #E6E6FA;
  padding: 10px;
  float: left;
    

  &__upper{
    display: flex;
    position: relative;

    &__img{
      border-radius: 50%;
      object-fit: cover;
    }

    &__right{
      height: 80px;
      position: absolute;
      top: 15px;
      left: 90px;
      

      &--user-name{
        font-size: 14px;
      }

      &--date{
        font-size: 11px;
      }
    }
  }

  &__content{
    padding-top: 10px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
}





