.post-field{
  width: 60%;
  height: auto;
  background-color: #fff;
  margin: 40px auto 0px;
  max-width: 800px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 2px 2px 6px gray;
}

.upper{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #000;
  position: relative;
  display: flex;

  &__table{
    width: 50%;

    // ドロップダウンメニュー

    .dropdown {
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 25px;
      }

    #tg {
      display: none;
      }

    .menu {
      position: relative;
      visibility: hidden;
      opacity: 0;
      top: -10px;
      list-style: none;
      }

    .dropInput:checked ~ .menu {
      visibility: visible;
      opacity: 1;
      top: 0;
      }

    .dropLabel, .item {
      padding: 1em 1.5em;
      display: block;
      background-color: #fff;
      text-align: center;
      position: relative;
      color: #333;
      text-decoration: none;
      }

    .bars{
      font-size: 30px;
      cursor: pointer;
    }

    .item:hover {
      background-color: $cyan;
      color: #fff;
    }

    .animation {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
      }

      // ここまで

    &__link{
      display: block;
      text-decoration: none;
      color: #000;
      width: 100%;
      display: flex;
      align-items: center;
  
      &--icon{
        width: 90px;
        height:90px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid $cyan;
        margin-right: 10px;
      }
    
      &--name{
        font-size: 20px;
      }
    }
  }
}

.under-table{
  width: 100%;
  height: auto;

  &__text{
    padding: 20px 15px;
    font-size: 20px;
  }

  &__image{
    display: block;
    margin: 0 auto;
    width: calc(100% - 20px);
    border-radius: 30px;
  }

  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__date{
    margin: 10px;
    color: #bbb;
    font-size: 15px;
  }

  &__tags{
    padding: 5px 10px;
    height: 50px;
    font-size: 15px;
  }

  &__like{
    &__count{
      @include like-btn(rgb(62, 62, 62));
      background-color: rgb(235, 235, 235);
    }
  }
}

.fa-heart{
  margin-right: 2px;
}

.likes-count{
  margin-right: 10px;
}

.alreadyLiked{
  @include like-btn();
  border: 2px solid tomato;
}

.notLike{
  @include like-btn(rgb(62, 62, 62));
  background-color: rgb(235, 235, 235);
}