.tags-table{
  height: 860px;
  width: 20%;
  background-color: #993366;
  border-radius: 15px;
  box-shadow: 2px 2px 6px gray;
  padding: 20px 15px;
}

.form{
  display: flex;
  margin-bottom: 20px;
  height: 25px;

  &__search-tag{
    width: 70%;
    margin-right: 5px;
    font-size: 14px;
    padding: 0 5px;
  }

  &__submit{
    width: 25%;
    font-size: 14px;
  }
}

.tags{
  width: 100%;
  height: calc(100% - 45px);
}

.tag{
  font-size: 13px;
  height: 30px;
  background-color: #eee;
  display: inline-block;
  padding: 5px;
  margin: 0 10px 10px 0;
  float: left;
  color: #555;
}