.tags-table{
  height: 860px;
  width: 20%;
  background-color: #FF0066;
  border-radius: 15px;
  box-shadow: 2px 2px 6px gray;
  padding: 20px 15px;
}

.form{
  display: flex;
  margin-bottom: 20px;
  height: 25px;

  &__search-tag{
    width: 70%;
    margin-right: 5px;
    font-size: 14px;
    padding: 0 5px;
  }

  &__submit{
    width: 25%;
    font-size: 14px;
  }
}

.tags-box{
  width: 100%;
  height: calc(100% - 45px);
}

.tag-name{
  font-size: 13px;
  background-color: #eee;
  padding: 5px;
  margin: 0 10px 10px 0;
  background: #000;
  color: #fff;
  transition: color 0.2s;
  cursor: pointer;
  border-radius: 5px;
  display: block;

  &:hover{
    color: #00CCCC;
    background-color: #333;
  }
}