.posts-table
  .posts-table__container
    - @posts.each do |post|
      .post
        .post__upper
          %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
          .post__upper__right
            .post__upper__right--user-name
              = post.user.nickname
            .post__upper__right--date
              = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .post__content
          %p
            = simple_format(post.text)