.posts-table
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。

  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。

  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。
  .post
    .post__upper
      %img{ src: "/assets/default.png", alt: "icon", class: "post__upper__img"}
      .post__upper__right
        .post__upper__right--user-name
          まゆみ
        .post__upper__right--date
          2020年4月20日 20:38
    .post__content
      昨日は、個人アプリのView作成をしていました！
      もっとがんばりたいです！
      そのためにはどうしたらいいか考えなきゃ。