.tags-table
  .form
    %input.form__search-tag{type: "text", placeholder: "タグ検索"}
    %button.form__submit{type: "submit"}
      検索
  
  .tags
    .tag
      プログラミング
    .tag
      料理
    .tag
      筋トレ
    .tag
      勉強
    .tag
      ランニング
    .tag
      受験
    .tag
      読書