@mixin like-btn($color: tomato){
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  color: $color;

  &:hover{
    color: $color;
  }
}

@mixin post-table($width: 80%){
  height: auto;
  width: $width;
  background-color: #fff;
  border-radius: 15px;
  margin-right: 20px;
  box-shadow: 2px 2px 6px gray;
  padding: 20px 0px 20px 20px;
}